@import "src/@fuse/scss/fuse";

:host {

    #lists {

        .top-bg {
            @include media-breakpoint-down(xs) {
                height: 240px;
            }
        }

        > .center {
            padding: 24px;
            padding-top: 0px;

            > .header {

                .search-input-wrapper {
                    max-width: 480px;
                }

                @include media-breakpoint-down(xs) {
                    margin: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }

    .mat-header-cell {
        font-family: 'kanit';
        font-size: 16px;
        font-weight: bolder;
    }

    .lists-table {
        flex: 1 0 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 60px;
        }

        .list {
            position: relative;
            cursor: pointer;
            height: 40px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-start_date, .mat-column-end_date, .mat-column-agency {
            justify-content: center;
        }

        .mat-column-action {
            justify-content: center;
            cursor: default;
        }

        .net_income {
            justify-content: flex-start;
        }

        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            & + span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .active-icon {
            border-radius: 50%;
        }
    }
}
