@import "src/@fuse/scss/fuse";
:host {
    #lists {
        .top-bg {
            @include media-breakpoint-down(xs) {
                height: 240px;
            }
        }
        >.center {
            padding: 24px;
            padding-top: 0px;
            >.header {
                .search-input-wrapper {
                    max-width: 480px;
                }
                @include media-breakpoint-down(xs) {
                    margin: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
        .invoice-container {
            .card {
                width: 100%; // min-width: 1020px;
                // max-width: 1020px;
                padding: 64px 88px;
                overflow: hidden;
                background: #FFFFFF;
                @include mat-elevation(7);
                .header {
                    .invoice-date {
                        font-size: 14px;
                        color: rgba(0, 0, 0, 0.54);
                        margin-bottom: 32px;
                    }
                    .client {
                        .invoice-number {
                            font-size: 18px;
                            padding-bottom: 2px;
                            .title {
                                color: rgba(0, 0, 0, 0.54);
                            }
                            .number {
                                padding-left: 6px;
                            }
                        }
                        .due-date {
                            font-size: 18px;
                            padding-bottom: 16px;
                            .title {
                                color: rgba(0, 0, 0, 0.54);
                            }
                            .date {
                                padding-left: 6px;
                            }
                        }
                        .info {
                            color: rgba(0, 0, 0, 0.54);
                            line-height: 22px;
                        }
                    }
                    .issuer {
                        margin-right: -88px;
                        padding-right: 66px;
                        .logo {
                            width: 96px;
                            padding: 0 8px;
                            border-right: 1px solid rgba(255, 255, 255, 0.7);
                        }
                        .info {
                            padding: 16px;
                        }
                    }
                }
                .content {
                    .invoice-table {
                        // margin-top: 32px;
                        font-size: 15px;
                        thead {
                            tr {
                                th {
                                    &:first-child {
                                        padding-left: 8px;
                                    }
                                    &:last-child {
                                        padding-right: 8px;
                                    }
                                }
                            }
                        }
                        tbody {
                            tr.table-detail:hover {
                                cursor: pointer;
                                background: #f5f5f5;
                            }
                            tr {
                                td {
                                    &:first-child {
                                        padding-left: 8px;
                                    }
                                    &:last-child {
                                        padding-right: 8px;
                                    }
                                }
                            }
                        }
                        .title {
                            font-size: 16px;
                        }
                        .detail {
                            margin-top: 8px;
                            font-size: 12px;
                            color: rgba(0, 0, 0, 0.54);
                            max-width: 360px;
                        }
                    }
                    .invoice-table-footer {
                        margin: 0 0 65px 0;
                        tr {
                            td {
                                text-align: right;
                                font-size: 16px;
                                font-weight: 500;
                                color: rgba(0, 0, 0, 0.54);
                                border-bottom: none;
                                padding: 4px 8px;
                                &:first-child {
                                    text-align: left;
                                }
                            }
                            &.discount {
                                td {
                                    padding-bottom: 32px;
                                }
                            }
                            &.total {
                                td {
                                    padding: 24px 8px;
                                    border-top: 1px solid rgba(0, 0, 0, 0.12);
                                    font-size: 35px;
                                    font-weight: 300;
                                    color: rgba(0, 0, 0, 1);
                                }
                            }
                        }
                    }
                }
                .footer {
                    .note {
                        font-size: 15px;
                        font-weight: 500;
                        margin-bottom: 24px;
                    } // IE10 fix
                    .logo,
                    .small-note {
                        -ms-flex: 0 1 auto;
                    }
                    .logo {
                        width: 32px;
                        min-width: 32px;
                        margin-right: 24px;
                    }
                    .small-note {
                        font-size: 12px;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.54);
                        line-height: 18px;
                    }
                }
            }
        } // }
    }
}