<div id="lists" class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-100-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-100-bg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
            
                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/sme/lists/'+listItemID">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            
                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        รายละเอียด
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->


            <button mat-fab class="mat-pink-bg" matTooltip="เพิ่มรายละเอียด" 
            (click)="addNew('new', {})" matTooltipPosition="above">
                <mat-icon>add</mat-icon>
            </button>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <div class="invoice-container">
            
                <div class="card">
            
                    <div class="header">
                        <div class="invoice-date">{{listDetailInDate}}</div>
            
                        <div fxLayout="row" fxLayoutAlign="space-between stretch">
                            <div class="client">
                                <div class="invoice-number" fxLayout="row" fxLayoutAlign="start center">
                                    <!-- <span class="title">INVOICE</span> -->
                                    <span class="number">{{listDetail.list_name}}</span>
                                </div>
            
                                <div class="due-date" fxLayout="row" fxLayoutAlign="start center">
                                    <!-- <span class="title">DUE DATE</span> -->
                                    <span class="date">{{listDetail.agency}}</span>
                                </div>

                            </div>

                        </div>
                    </div>
            
                    <div class="content">
                        <table class="simple invoice-table">
                            <thead>
                                <tr>
                                    <th>รายการ</th>
                                    <th class="text-right">รายรับ</th>
                                    <th class="text-right">รายจ่าย</th>
                                    <th class="text-right">รวม</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let detail of listDetail.details" class="table-detail" (click)="editOrDelete('edit', detail)">
                                    <td>
                                        <div class="title">
                                            {{detail.list_detail_name}}
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        {{detail.in_come | currency:'฿':'symbol'}}
                                    </td>
                                    <td class="text-right" *ngIf="detail.expense === '0.00'">
                                        {{detail.expense | currency:'฿':'symbol'}}
                                    </td>
                                    <td class="text-right" *ngIf="detail.expense !== '0.00'">
                                        {{detail.expense | currency:'-฿':'symbol'}}
                                    </td>
                                    <td class="text-right">
                                        {{(detail.in_come - detail.expense) | currency:'฿':'symbol'}}
                                    </td>
                                </tr>

                            </tbody>
                        </table>
            
                        <table class="simple invoice-table-footer">
                            <tbody>
                                <tr class="total">
                                    <td>รายได้สุทธิ</td>
                                    <td>{{listDetail.net_income | currency:'฿':'symbol'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            
                </div>
            
            </div>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>