.container {
  display: flex;
  flex-direction: column;
  min-width: 480px;
}

.container > * {
  width: 100%;
}

.form {
  display: flex;
  padding-top: 6px;
}

.form-picker-container{
  display: flex;
  justify-content: space-between;

  .mat-form-field {
    width: 235px;
  }

  .form-picker1 {
    justify-content: flex-start;
    width: 100%;
  }

  .form-picker2 {
    justify-content: flex-end;
    width: 100%;
  }
}


.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}
